.portfolio {
    padding-top: 50px;
    text-align: center;
  }
  
  .portfolio__header-title {
    font-size: 28px;
    color: #444444;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    padding-bottom: 10px;
  }
  
  .portfolio__header-desc {
    font-size: 16px;
    color: #444444;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
  }
  
  .portfolio__header-list {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
    justify-content: space-between;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
    line-height: 37px;
  
    justify-content: center;
  }
  
  .portfolio__header-list-item {
    height: 37px;
    background-color: #1bbc9b;
    color:#fff;
    padding: 5px 12px;
    outline: none;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .portfolio__menu {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio__menu-item {
    width: 180px;
    height: 180px;
  }
  
  .portfolio__menu-link {
    margin: 20px 25px;
  }